@* Copyright (c) Stride contributors (https://stride3d.net) - MIT license *@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Stride Asset Store</title>
    <link rel="stylesheet" href="app.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="js/interop.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
